body {
  background-color: cornsilk;
  border-radius: 20px;
}
a {
  color: aqua;
}
header {
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serifs;
}
.container {
  margin: 120px auto;
  max-width: 600px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
}
form {
  background-color: white;
  box-sizing: 30px;
  padding: 30px;
  border-radius: 20px;
}
.hidden {
  display: none;
}
.search-button {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  box-shadow: 10px #fff;
}
.submit-button {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  background-color: aqua;
}
.submit-button:hover {
  background-color: white;
}
.instruction {
  line-height: 30px;
  background-color: white;
  margin-top: 70px;
  padding: 30px;
  border-radius: 20px;
  border: 5px solid purple;
}
footer {
  background-color: cornsilk;
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
}
.generating {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
